Container for horizontal scrolling on small screens
.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f6fa;
} 
 
.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full screen height */
  overflow-y: auto; /* Enable vertical scrolling */
}
 
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 1rem;
  padding-top: 10px;
  padding-right: 20px;

}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
 
.restaurant-name {
  font-weight: bold;
  color: #333;
}
 
.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
 
.dashboard-main {
  /* display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}


.release-group {
  margin-bottom: 2rem;
}
