




   
  
 .patchProgress .product-table-container {
  width: 90%;
  max-width: 95vw;
  margin: 0 auto 2rem auto;
  /* Center and add spacing below */
  background-color: #f9f9fb;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

  
  .patchProgress .product-table-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #20338b;
    font-size: 1.2rem;
  }
  
  .patchProgress .product-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
  }
  
  .patchProgress .product-table th,
  .patchProgress .product-table td {
    padding: 0.75rem 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .patchProgress .product-table th {
    background-color: #20338b;
    color: white;
  }
  
  .patchProgress .product-table tr:hover {
    background-color: #e8efff;
  }

/* 
 .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: static;
}  */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  position: sticky; 
  top: 0;
  background-color: #ffffff; 
  z-index: 100;
  padding-top: 10px; 
  padding-bottom: 10px;
  margin-right: 14px;
}



.progress-export {
  display: flex;
  align-items: center;
  gap: 0.4rem; 
}

.refresh {
   align-self: flex-start;  
   margin-top: 2%;
}

.export-btn{
  margin-top: -2%;
}





  @media (max-width: 768px) {
  .patchProgress .product-table-container {
    padding: 0.5rem;
  }

  .patchProgress .product-table th,
  .patchProgress .product-table td {
    padding: 0.5rem;
    font-size: 0.85rem;
  }
}