/* .dashboard-container {
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f6fa;
  }
   
  .dashboard-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow-y: auto; 
  }
   
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 1rem;
    padding-top: 10px;
    padding-right: 20px;
  
  }
  

   
  .search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 250px;
    outline: none;
  }
   
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
   
  .restaurant-name {
    font-weight: bold;
    color: #333;
  }
   
  .profile-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
   
  .dashboard-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }
    */

.filter-menu-container {
  /* position: sticky; */
  /* top: 0; */
  display: flex;
  justify-content: flex-end;
  /* padding: 10px;
  background-color: white; 
  z-index: 1000;
  margin-bottom: 10px;  */
}


   
  
 .patchProgress .product-table-container {
  width: 90%;
  max-width: 95vw;
  margin: 0 auto 2rem auto;
  /* Center and add spacing below */
  background-color: #f9f9fb;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

  
  .patchProgress .product-table-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #20338b;
    font-size: 1.2rem;
  }
  
  .patchProgress .product-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
  }
  
  .patchProgress .product-table th,
  .patchProgress .product-table td {
    padding: 0.75rem 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .patchProgress .product-table th {
    background-color: #20338b;
    color: white;
  }
  
  .patchProgress .product-table tr:hover {
    background-color: #e8efff;
  }

/* 
 .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: static;
}  */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  position: sticky; 
  top: 0;
  background-color: #ffffff; 
  z-index: 100;
  padding-top: 10px; 
  padding-bottom: 10px;
}



.progress-refresh {
  display: flex;
  align-items: center;
  gap: 0.4rem; 
}

.progress-refresh .btn {
  margin-top: 2% !important;
  position: static !important;
  margin-right: 0 !important;
}




  @media (max-width: 768px) {
  .patchProgress .product-table-container {
    padding: 0.5rem;
  }

  .patchProgress .product-table th,
  .patchProgress .product-table td {
    padding: 0.5rem;
    font-size: 0.85rem;
  }
}