.enhanced-card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enhanced-card.float:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 200px; /* Increased height */
  object-fit: cover;
  border-bottom: 1px solid #eee;
}  

.card-body {
  padding: 1.25rem;
}

.card-title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #2c3e50;
}

.card-description {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1rem;

  /* overflow */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  max-width: 12ch;
}

.card-badge {
  display: inline-block;
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.card-badge.new {
  background-color: #3498db; /* blue */
}

.card-badge.cancelled {
  background-color: #e74c3c; /* red */
}
.card-badge.released {
  background-color: #0c7724; /* red */
}
.card-badge.in_progress{
  background-color: #2ecc71;;
}


.card-children {
  margin-top: 0.5rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: #f4f4f4;
  /* text-align: right; */
  font-size: 0.9rem;
  color: #666;
}

.patch-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #000000; /* red for delete */
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.patch-btn:hover {
  color: #af2929;
}

.kba-link {
  color: #007bff;
  text-decoration: underline;
}
.kba-link:hover {
  text-decoration: none;
}

.severity-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 0;   /* No shift needed */
  padding-right: 0;
  box-sizing: border-box;
  
}
.severity-grid span {
  margin-right: 20px; /* or adjust as needed */
}



/* Mobile Fix */
@media (max-width: 600px) {
  .severity-grid {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important; /* Two per row */
    gap: 6px !important;
  }

  .severity-grid span {
    display: flex !important;
    flex-direction: column !important;
    font-size: 13px !important;
    line-height: 1.1;
    white-space: normal !important;
    word-break: keep-all;
    text-align: left;
  }
}
