.menu-item-container {
  position: relative;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 4px 10px;
  border-radius: 10px;
  color: #444; 
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #f1f1f9; /* lighter shade on hover */
  color: #2e2eaa;
}

.menu-item-icon {
  margin-right: 12px;
  font-size: 18px;
}

.menu-item-name {
  font-size: 14px;
}

.dropdown-arrow-left {
  font-size: 14px;
  color: #333;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.dropdown-arrow-left.rotate {
  transform: rotate(-90deg); /* optional if you want rotate on open */
}

/* .dropdown-container {
  background-color: inherit;
} */
