.compare-container {
  width: 90%;             
  max-width: 1200px;       
  margin: 40px auto;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #f7f9fc;
  font-family: Arial, sans-serif;
}


.compare-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
}
.dropdown-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.dropdown-row.two-columns .dropdown-group {
  margin-right: 0;
}

.dropdown-group {
  flex: 1;
  min-width: 250px;
  margin-right: 20px;
}

.dropdown-group:last-child {
  margin-right: 0;
}

.dropdown-group label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

select {
  padding: 14px;
  font-size: 18px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #999;
  width: 100%;
}


.compare-btn {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background-color: #20338b;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.compare-btn:hover {
  background-color: #0056b3;
}

.compare-table {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #20338b;
  color: white;
  font-weight: bold;
}
