.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #20338b;
    border-radius: 20px;
    padding: 2px 8px;
    font-size: 1rem;
    line-height: 1.2;
    background-color: #f2f6fc;
    outline: none;
    transition: 0.2s ease;
    margin-top: -7px;
    width: 66%;
    max-width: 300px; 
    overflow: hidden;  
}


.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 1rem;
    background-color: transparent;
}

.icon {
    font-size: 1.0rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    top: -3px;
    /* Adjust as needed */
}


.search-icon {
    margin-right: 8px;
    color: #20338b;
}

.clear-icon {
    margin-left: 8px;
    color: #20338b;
    background: none;
    border: none;
}