
.sticky-inner {
  width: 100%;
  transition: box-shadow 0.2s ease-in-out;
}

.sticky-inner.is-sticky {
  position: fixed; 
  width: 90%;
  max-width: 95vw;
  
  background-color: #f9f9fb;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 50; 
}


.sticky-placeholder {
  position: relative;
}